html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #939394;
    background-size: cover;
}

.jadwal {
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 720px;
    height: 160px;
    text-align: center;
}

.judul {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto; 
    margin-right: auto;
    align-items: center;
    width: 100%;
    font-size: xx-large;
    height: 75px;
    text-align: center;
}

.tuger {
    color: black;
    font-size: 30px
}

.daftar {
    border-radius: 30px;
    height: 175 ;
    width: 275px;
    background-color: rgb(86, 91, 92);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    display:inline-block;
    border: 1.5px solid brown;
    font-size: 20px;    
    text-align: left;
}

.dov { 
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.button1 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f1ef;
    font-family: 'Playfair Display', serif;
}



.piket {
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

.piket1 {
    border-radius: 30px;
    height: 175 ;
    width: 275px;
    background-color: rgb(99, 99, 98);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    display:inline-block;
    border: 1.5px solid brown;
    font-size: 20px;    
    text-align: left;
}


.piket1 ul li {
    text-decoration: none;
}

td {
    padding:7px ;
}

.piket div{
    display: inline-block;
}

#jadwal {
    display: none;
}

.container {
    width: 100%;
    height: 7cm;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.foto {
    margin-top: 50px;
    padding: 100px;
    width: auto;
    height: 100%;
    object-fit: cover;
}
hr {
    margin-top: 50px;
    width: 100%;
}
.container1 {
    width: 100%;
    height: 7cm;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.video {
    height: 100%;
    padding: 100px;
}

.footer {
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 40px;
}

audio {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
}


@media (max-width: 620px) {

.jadwal {
    width: 100%;
}

.daftar {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.foto {
    width: 100%;
    object-fit: cover;
}

.video {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.jadwal{
    width: 100%;    
}
.judul {
    margin-left: auto;
    margin-right: auto;
    }

}

  /* TABLET */

@media (max-width: 1080px) {

    .jadwal {
    width: 100%;
    }

    .container1 {
    display: block;
    margin-top: 250px;
    }

    .container {
    display: block;
    padding-bottom: 10px;
    }

    .foto {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .video {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    }

.footer {
    margin-top: 450px;
    }
}
